* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: lightgreen;
  background-image: url(william-daigneault-YQvaQqExNcQ-unsplash.jpg);
  object-fit: cover;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.container {
  margin: auto;
  width: 500px;
  min-width: 90px;
}
.container form {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(48, 45, 45);
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
.container form h1 {
  text-align: center;
  margin-bottom: 24px;
  color: brown;
}
.label {
  font-size: 20px;
  color: white;
}
.container form .form-control {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid silver;
  margin: 10px 0 18px 0;
  padding: 0 10px;
}
.container form .btn {
  margin-left: 50%;
  transform: translate(-50%);
  width: 120px;
  height: 34px;
  border: none;
  outline: none;
  background-color: rgb(63, 59, 59);
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  transition: 0.3s;
  color: rgb(172, 197, 48);
}
.container form .btn:hover {
  opacity: 0.8;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
